<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="VIEW">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- icons-->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!--link rel="icon" type="image/ico" href="favicon.ico"-->
    <meta name="msapplication-TileImage" content="tile.png">
    <meta name="msapplication-TileColor" content="#454545">
    <meta name="theme-color" content="#00d19e">
    <!-- imported CSS are concatenated and added automatically -->
    <!-- script-->
    <script src="/js/vendor/modernizr/modernizr.js"></script>
    <base href="<% htmlWebpackPlugin.options.baseUrl %>">
  </head>

  <body aurelia-app="main">
    <% if (htmlWebpackPlugin.options.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
  <!-- script-->
  <script src="/js/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/js/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/js/vendor/slick.js/slick/slick.min.js"></script>
	<script src="/js/vendor/chart/Chart.bundle.min.js"></script>
  <script src="/js/main.js"></script>
</html>
